{% extends "base.html" %}

<style>
#tweet-container {

}



</style>

{% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}



{% block content %}

   
    <div class='row'>
        <div class='col-sm-12' style="position: absolute; top: 20%; left: 0%;">
               {% if request.GET.q %}
                <h2 class='lead' style="color: white;">Results for '{{ request.GET.q }}'</h2>
                <hr/>
               {% endif %}
        </div>

        <div class='col-sm-9' style="position: absolute; top: 35%; left: 5%";>
            <div class="jumbotron jumbotron-trans" style="width: 700px;">
          <h2>Posts</h2>
          <hr/>
          <div id='tweet-container' data-url='/api/search/'>
            
          </div>
            </div>
          <a href='#' id='loadmore'>Load More Tweets</a>


        </div>

        <div class='col-sm-3' style="position: absolute; top: 35%; left: 70%;">

        <div class="jumbotron jumbotron-trans">
          <h2>Users</h2>
           <hr/>
          {% for user in users %}
            <a href='/{{ user.username}}/'>{{ user.username}}</a><br/>

          {% empty %}
          <p>No users found</p>
          {% endfor %}
        </div>
        </div>

{% endblock content %}