{% extends "base.html" %}

{% block script %}
<script>
$(document).ready(function(){
  $("form input").addClass('form-control')
});
</script>


{% endblock %}


{% block content %}
<style>
    .bg-image {
  /* The image used */
  background-image: url("https://scontent-atl3-1.cdninstagram.com/vp/251c78b3c164a2b4bfb51ee34b5fc00d/5C3C8537/t51.2885-15/e35/39134930_2069800753031586_4013788143751790592_n.jpg");

  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


    .jumbotron-trans
    {
         opacity: 0.75;
         background: #000;
    }
    .jumbotron
    {
        color: white;
    }
</style>
<div class='col-sm-6 col-sm-offset-3 text-center' style="position: absolute; top: 25%; left: 0%;">
    <div class="jumbotron jumbotron-trans">
    <h1>Login</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>


<div class="form-group">
     {{ form.password.label_tag }}
    {{ form.password }}
</div>



<button type="submit" class='btn btn-default'>Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
    </div>


{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
</div>

{% endblock %}